body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
  padding: 15px 20px;
}

.logo img {
  height: 40px;
  width: auto;
}
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li:first-child {
  margin-left: auto; /* Pindahkan menu ke kanan */
}

.nav-links a {
  color: #323232;
  text-decoration: none;
}

.nav-links a:hover {
  color: #000000;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-image img {
  width: 100%;
  padding: 150px 0px 125px 0px;
}

.store-title {
  text-align: center;
  color: #323232;
  padding-top: 200px;
}

.store-description {
  text-align: justify;
  color: #666;
}

.slides {
  margin: auto;
  position: relative;
  text-align: center; /* Center the slides horizontally */
}

.slides .slide {
  display: none;
}

.slides .slide img {
  width: 40%;
  animation-name: fade;
  animation-duration: 1.5s;
  margin: 0 auto; /* Center the image horizontally */
}

.slides .navigation {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  width: 38%;
}

.slides .navigation .prev,
.slides .navigation .next {
  cursor: pointer;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  user-select: none;
  transition: 0.6s ease;
}

.slides .navigation .prev:hover,
.slides .navigation .next:hover {
  background: rgba(0, 0, 0, 1);
}

h2 {
  text-align: center;
}

.footer {
  text-align: center;
  padding: 1rem;
}

/* CSS untuk tampilan ponsel */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

/* CSS untuk tampilan ponsel */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #e4e4e4;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }

  .nav-links li {
    text-align: center;
    margin: 10px 0;
  }

  .nav-links a {
    color: #333;
  }

  .nav-links a:hover {
    color: #000;
  }

  .nav-links li:first-child {
    margin-left: 0;
  }

  .nav-active {
    display: flex;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .grid-image {
    order: 1;
  }

  .grid-image img {
    padding: 60px 0px 30px 0px;
  }

  .grid-text {
    order: 2;
  }

  .store-title {
    padding-top: 0px;
  }
  .store-description {
    margin: 20px;
    text-align: justify;
  }

  .slides .slide img {
    width: 100%;
    animation-name: fade;
    animation-duration: 1.5s;
    margin: 0 auto; /* Center the image horizontally */
  }

  .slides .navigation {
    width: 100%;
    top: 45%;
  }
}
